#!/bin/bash

PURIFY_EXEC=html-purify.sh
LOCAL_CONF="$(pwd)/.${PURIFY_EXEC/.sh/}"
PURIFY_CONF=''

if [ -r $LOCAL_CONF ]; then
	source $LOCAL_CONF
fi
source $PURIFY_CONF


# Adept to your needs and save to .conf file
TARGET_CONNECTION=${TARGET_CONNECTION:-'<publishing-user@example.com>'}
TARGET_LOCATION_ROOT=${TARGET_LOCATION_ROOT:-'</path/to/some/publishing/web-root/>'}
